<%= render './site/head' %>
<%= render './site/nav' %>
<div class="gap"></div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <aside class="user-profile-sidebar">
        <div class="user-profile-avatar text-center">
          <!-- <img src="img/amaze_300x300.jpg" alt="Image Alternative text" title="AMaze" /> -->
          <h5>
            <% if user_signed_in? %>
              <%= current_user.first_name %> <%= current_user.last_name %>
            <% end %>
          </h5>
          <!-- <p>Member Since May 2012</p> -->
        </div>
        <ul class="list user-profile-nav">
          <li><a href="#"><i class="fa fa-user"></i>Overview</a>
          </li>
          <li><a href="#"><i class="fa fa-cog"></i>Settings</a>
          </li>
          <li><a href="#"><i class="fa fa-camera"></i>My Travel Photos</a>
          </li>
          <li><a href="#"><i class="fa fa-clock-o"></i>Booking History</a>
          </li>
          <!-- <li><a href="user-profile-cards.html"><i class="fa fa-credit-card"></i>Credit/Debit Cards</a>
          </li> -->
        </ul>
      </aside>
    </div>
    <div class="col-md-9">
      <ul class="booking-list booking-list-wishlist">
        <% @bucketlistitems.each do |i|  %>
          <li><span class="booking-item-wishlist-title"><i class="fa fa-bolt"></i> <%= i.destination.category %> <span>added on <%= i.created_at.time.to_formatted_s(:long_ordinal) %></span></span>
            <!-- <a class="fa fa-times booking-item-wishlist-remove" href="#" rel="tooltip" data-placement="top" title="remove from wishlist"></a> -->
            <a class="booking-item" href="#">
              <div class="row">
                <div class="col-md-4">
                  <img src="<%= i.destination.image_url %>" alt="<%= i.destination.name %>" title="<%= i.destination.seo_tags %>" />
                  <%= i.destination.name %><br>
                  <%= i.destination.location %><br>
                
                </div>
                <div class="col-md-6">
                  <div class="booking-item-rating">
                  </div>
                  <span class="btn btn-primary">Add to Trip</span>
                </div>
              </div>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="gap"></div>

<%= render './site/footer' %>
