<!-- LOGIN PAGE WITH DEVISE! DO NOT TOUCH -->

<%= render './site/head' %>
<%= render './site/nav' %>

<div class="container">
    <div class="row" data-gutter="60">
        <div class="col-md-4">
            <h3>Welcome to LOTUS Nomads!</h3>
            <p>Do you love traveling the world with a conscience as much as we do? Yeah, we thought so. Sign up and discover even more of the incredible places our globetrotters have dug up just for you. You'll be packing your bags in no time. </p>
        </div>

<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
  <br>
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

</div>
  </div>
</div>
<div class="gap"></div>
<%= render './site/footer' %>


