<div class="form">
  <div id="error"></div>
    <%= form_tag :hotels, :method => 'post', action: '/hotels' do %>
        <div class="col-md-6">
          <%= label_tag(:destination, "Where are you going?: ") %>
          <%= text_field_tag :destination %>
        </div>
        <div class="col-md-2">
          <%= label_tag(:arrive, "Arrive:") %>
          <%= date_field_tag(:arrive) %>
        </div>
        <div class="col-md-4">
          <%= label_tag(:depart, "Depart:") %>
          <%= date_field_tag(:depart) %>
          <%= submit_tag "Search", :id => "submit_button", :class => "btn search_button" %>
        </div>
      <% end %>