<%= render 'head' %>
<%= render 'nav' %>   

<div class="container">
  <div class="booking-item-details">
    <header class="booking-item-header">
    <div class="row">
      <div class="col-md-9 hotel_title">
        <h1><%= raw CGI.unescapeHTML(@hotel["HotelSummary"]["name"]) %></h1>
        <h3><%= @hotel["HotelSummary"]["address1"] %>, <%= @hotel["HotelSummary"]["city"] %>, <%= @hotel["HotelSummary"]["stateProvinceCode"] %></h3>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="<%= @hotel["HotelImages"]["HotelImage"][0]["url"] %>" alt="main">
            </div>
            <% @hotel["HotelImages"]["HotelImage"][1...@hotel["HotelImages"]["HotelImage"].length].each do |image| %>
              <div class="item">
                <img src="<%= image["url"] %>" alt="<%= @hotel["HotelSummary"]["name"] %>">
              </div>
            <% end %>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <p><%= @hotel["HotelDetails"]["locationDescription"] %></p>
        <div id="book"></div>
        <% @hotel["RoomTypes"]["RoomType"].each do |room| %>
          <div class="gap gap-small"></div>
          <ul class="booking-list">
            <li>
            <a class="booking-item">
              <div class="row">
                <div class="col-md-3">
                  <img class="hotel_main" src="<%= @hotel["HotelImages"]["HotelImage"][4]["url"] %>" alt="Image Alternative text" title="hotel 2" />
                </div>
                <div class="col-md-6">
                  <h5 class="booking-item-title"><%= room["description"] %></h5>
                  <p class="text-small"><%= raw CGI.unescapeHTML(room["descriptionLong"]) %></p>
                </div>
                <div class="col-md-3"><span>From: </span><span class="booking-item-price"><%= number_to_currency(@hotel["HotelSummary"]["lowRate"], :precision => 0) %></span><span>/night</span><span class="btn btn-primary">Book</span>
                </div>
              </div>
            </a>
          <% end %>
          </li>
        </ul>
        <p>
        <%= raw CGI.unescapeHTML(@hotel["HotelDetails"]["hotelPolicy"]) %>
        </p>
      </div>
      <div class="col-md-3 description">
        <a href="#book"><button class="btn btn-block btn-lg book_button">Book</button></a>
        <p>Hotel Rating: <img src="<%= @hotel["HotelSummary"]["tripAdvisorRatingUrl"] %>" class="tripadvisor_img"></p>
        <p><%=  raw CGI.unescapeHTML(@hotel["HotelDetails"]["propertyDescription"]) %></p>
      </div>
    </div>
  </div>
  <div class="gap gap-small"></div>
</div>

<%= render 'footer' %>

