<%= render 'head' %>
<%= render 'nav' %>


<div class="container hotels_page">
  <h2 class="page-title">Search for Hotel</h2>
  <%= render 'search_form' %> 
</div>
<% if @hotels %>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
                <button id='price'>Price</button>

<% @hotels.each do |hotel| %>  
  <div class="gap gap-small"></div>
    <ul class="booking-list">
      <li><a class="booking-item" href="/hotels/<%= hotel["hotelId"] %>">
          <div class="row">
            <div class="col-md-3">
              <div class="hotel_img"><img src="http://images.travelnow.com/<%= hotel["thumbNailUrl"] %>" class="hotel_thumb"></div>
            </div>
            <div class="col-md-5">
              <h3><%= raw CGI.unescapeHTML(hotel["name"]) %></h3>
              <h4><%= hotel["address1"] %>, <%= hotel["city"] %>, <%= hotel["stateProvinceCode"] %></h4>
              <p><%= raw CGI.unescapeHTML(hotel["locationDescription"]) %></p>
            </div>
            <div class="col-md-4"><span>From: </span><span class="booking-item-price"><%= number_to_currency(hotel["lowRate"], :precision => 0) %></span><span>/night</span><br><br>
              <span class="btn btn-primary">Book</span>
            </div>
          </div>
          </a>
        </li>
      </ul>
<% end %>
<% end %>
  </div>
</div>
<div class="container">  
          <h3 class="mb20">Recommended Hotels</h3>
            <div class="row row-wrap">
                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img" href="/hotels/248276">
                                <img src="http://images.travelnow.com/hotels/2000000/1520000/1516000/1515923/1515923_14_b.jpg" alt="Image Alternative text" title="Orchard Garden" class="static-img" />
                                <h5 class="hover-title-center">Book Now</h5>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <ul class="icon-group text-tiny text-color">
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="thumb-title"><a class="text-darken" href="/hotels/248276">The Orchard Garden Hotel</a></h5>
                            <p class="mb0"><small><i class="fa fa-map-marker"></i> 466 Bush St, San Francisco, CA</small>
                            </p>
                            <p class="mb0 text-darken"><span class="text-lg lh1em text-color">$389</span><small> avg/night</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img" href="/hotels/105817">
                                <img src="http://images.travelnow.com/hotels/1000000/20000/15700/15647/15647_165_b.jpg" alt="The Mughal" title="hotel 1" class="static-img" />
                                <h5 class="hover-title-center">Book Now</h5>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <ul class="icon-group text-tiny text-color">
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="thumb-title"><a class="text-darken" href="/hotels/105817">Itc The Mughal</a></h5>
                            <p class="mb0"><small><i class="fa fa-map-marker"></i> Taj Ganj Uttar Pradesh, Agra, India</small>
                            </p>
                            <p class="mb0 text-darken"><span class="text-lg lh1em text-color">$74</span><small> avg/night</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img" href="/hotels/325988">
                                <img src="http://images.travelnow.com/hotels/3000000/2910000/2903600/2903551/2903551_29_b.jpg" alt="Image Alternative text" title="Ritz Charlotte" class="static-img" />
                                <h5 class="hover-title-center">Book Now</h5>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <ul class="icon-group text-tiny text-color">
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="thumb-title"><a class="text-darken" href="/hotels/325988">Ritz Carlton Charlotte</a></h5>
                            <p class="mb0"><small><i class="fa fa-map-marker"></i> 201 East Trade Street, Charlotte, NC</small>
                            </p>
                            <p class="mb0 text-darken"><span class="text-lg lh1em text-color">$599</span><small> avg/night</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img" href="/hotels/265998">
                                <img src="http://images.travelnow.com/hotels/2000000/1890000/1886700/1886656/1886656_126_b.jpg" alt="Image Alternative text" title="Cavallo" class="static-img" />
                                <h5 class="hover-title-center">Book Now</h5>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <ul class="icon-group text-tiny text-color">
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="thumb-title"><a class="text-darken" href="/hotels/265998">Cavallo Point</a></h5>
                            <p class="mb0"><small><i class="fa fa-map-marker"></i> 601 Murray Circle, Sausalito, CA</small>
                            </p>
                            <p class="mb0 text-darken"><span class="text-lg lh1em text-color">$475</span><small> avg/night</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img" href="/hotels/327233">
                                <img src="http://images.travelnow.com/hotels/3000000/2760000/2759200/2759161/2759161_223_b.jpg" alt="Image Alternative text" title="Sheraton Incheon" />
                                <h5 class="hover-title-center">Book Now</h5>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <ul class="icon-group text-tiny text-color">
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="thumb-title"><a class="text-darken" href="/hotels/327233">Sheraton Incheon Hotel</a></h5>
                            <p class="mb0"><small><i class="fa fa-map-marker"></i> 153, Convensia-daero, Yeonsu-gu, Incheon, South Korea</small>
                            </p>
                            <p class="mb0 text-darken"><span class="text-lg lh1em text-color">$181</span><small> avg/night</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img" href="/hotels/325236">
                                <img src="http://images.travelnow.com/hotels/3000000/2850000/2841800/2841775/2841775_65_b.jpg" alt="Image Alternative text" title="JW marriot san antonio" />
                                <h5 class="hover-title-center">Book Now</h5>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <ul class="icon-group text-tiny text-color">
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="thumb-title"><a class="text-darken" href="/hotels/325236">JW Marriott San Antonio Hill Country Resort & Spa</a></h5>
                            <p class="mb0"><small><i class="fa fa-map-marker"></i> 23808 Resort Pkwy, San Antonio, TX</small>
                            </p>
                            <p class="mb0 text-darken"><span class="text-lg lh1em text-color">$332</span><small> avg/night</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img" href="/hotels/147594">
                                <img src="http://images.travelnow.com/hotels/1000000/10000/1500/1443/1443_364_b.jpg" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF suite2" />
                                <h5 class="hover-title-center">Book Now</h5>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <ul class="icon-group text-tiny text-color">
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="thumb-title"><a class="text-darken" href="/hotels/147594">The Venetian</a></h5>
                            <p class="mb0"><small><i class="fa fa-map-marker"></i> 3355 Las Vegas Blvd S, Las Vegas, NV</small>
                            </p>
                            <p class="mb0 text-darken"><span class="text-lg lh1em text-color">$299</span><small> avg/night</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img" href="#">
                                <img src="http://images.travelnow.com/hotels/1000000/570000/564900/564858/564858_42_b.jpg" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO lobby" />
                                <h5 class="hover-title-center">Book Now</h5>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <ul class="icon-group text-tiny text-color">
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="thumb-title"><a class="text-darken" href="#">The Orchard</a></h5>
                            <p class="mb0"><small><i class="fa fa-map-marker"></i> 665 Bush St, San Francisco, CA</small>
                            </p>
                            <p class="mb0 text-darken"><span class="text-lg lh1em text-color">$329</span><small> avg/night</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
              </div>
</div>

<!-- BREADCRUMBS -->

<!-- SORT FUNCTION -->

<!-- RESULTS DISPLAY -->
<!-- FOR EACH DO, END. LOOP IN FOLLOWING FORMAT ALL RESULTS FROM API CALL-->




<!-- PAGINATION -->





<%= render 'footer' %>
