<%= render 'head' %>
<%= render 'nav' %>



<!-- TOP AREA -->
<div class="top-area show-onload">
  <div class="bg-holder full">
    <div class="bg-mask"></div>
    <video class="bg-video hidden-sm hidden-xs" preload="auto" autoplay="true" loop="loop" muted="muted"
    <%= video_tag("Nomads_index.mp4") %> >

    </video>
    <div class="bg-content">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-7">
          </div>
        </div>
      </div>
    </div>
    <div class="bg-front full-height">
      <div class="container rel full-height">
        <div class="search-tabs search-tabs-bg search-tabs-bottom">
          <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
              <li class="active"><a href="#tab-1" data-toggle="tab"><i class="fa fa-building-o"></i> <span >Hotels</span></a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="tab-1">
                <div class="row">
                <h2>Search and Save on Hotels</h2>
                <%= render 'search_form' %>
              </div>
            </div>
              </div>

              <div class="tab-pane fade" id="tab-2">
              </div>

              <div class="tab-pane fade" id="tab-5">

              <h2>Search</h2>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END TOP AREA  -->

<div class="gap"></div>


<div class="container">
  <div class="text-center row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row row-wrap" data-gutter="60">
        <div class="col-md-4">
          <div class="thumb">
            <header class="thumb-header">
            <i class="fa fa-dollar box-icon-gray box-icon-center round box-icon-border box-icon-big animate-icon-top-to-bottom"></i>
            </header>
            <div class="thumb-caption">
              <h5 class="thumb-title"><a class="text-darken" href="#">Lowest Prices</a></h5>
              <p class="thumb-desc">When searching for a socially responsible vacation you won't find more competitively priced booking options.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumb">
            <header class="thumb-header"><i class="fa fa-heart-o box-icon-gray box-icon-center round box-icon-border box-icon-big animate-icon-top-to-bottom"></i>
            </header>
            <div class="thumb-caption">
              <h5 class="thumb-title"><a class="text-darken" href="www.lotusnomasd.org/about">We Give Back</a></h5>
              <p class="thumb-desc">1% of each hotel booking is donated to job training for individuals at risk. Book with us; feel fantastic about that holiday.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumb">
            <header class="thumb-header"><i class="fa fa-send box-icon-gray box-icon-center round box-icon-border box-icon-big animate-icon-top-to-bottom"></i>
            </header>
            <div class="thumb-caption">
              <h5 class="thumb-title"><a class="text-darken" href="#">Best Discoveries</a></h5>
              <p class="thumb-desc">We scout the globe near and far to bring you the most exciting spots for your bucketlist.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gap gap-small"></div>
</div>
<div class="bg-holder">
  <div class="bg-mask"></div>

  <div class="bg-content">
    <div class="container">
      <div class="gap gap-big text-center text-white">
        <h2 class="text-uc mb20"></h2>
        <p class="last-minute-date">The companies listed on Nomads uphold industry recognized social and environmental standards so that you can travel with the peace of mind that your dollars are doing the most good.</p>
        <p class="mb20"><i>Come globetrot graciously with us...<i></p><a class="btn btn-lg btn-white btn-ghost" href="hotels.html">Book Now<i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="gap"></div>
      <h2 class="text-center">Life is a Journey, not a Destination</h2>
      <div class="gap">

            <div class="thumb">
              <!-- Loop through destinations -->
              <% @destinations.each do |d| %>
              <div class="row">
                <div class="col-md-3">
                  <a class="hover-img popup-gallery-image" href="/destinations/<%= d.id %>">
                    <img src="<%= d.image_url %>" alt="Sri Lanka Rice Paddies" title="Responsible Bike Tour Sri Lanka" />
                  </a>
                  <!-- Show destination info -->
                  <%= d.name %><br>
                  <%= d.location %><br>
                  <%= d.category %><br>
                  <br>
                  <br>
                </div>
              <% end %>
        </div>
      </div>
    </div>

    <%= render 'footer' %>
