<%= render 'head' %>
<%= render 'nav' %>
<h1>Recommended Certified Hotels</h1>
<% if @responsible_hotels %>
  <div class="row row-wrap responsible-wrap">
    <div class="col-md-2"></div>
    <div class="col-md-8">

<% @responsible_hotels["HotelListResponse"]["HotelList"]["HotelSummary"].each do |body| %>
  
  <div class="gap gap-small"></div>
    <ul class="booking-list">
      <li><a class="booking-item" href="/hotels/<%= body["hotelId"] %>">
          <div class="row">
            <div class="col-md-3">
              <div class="hotel_img"><img src="http://images.travelnow.com/<%= body["thumbNailUrl"] %>" class="hotel_thumb"></div>
            </div>
            <div class="col-md-6">
              <h3><%= raw CGI.unescapeHTML(body["name"]) %></h3>
              <h4><%= body["address1"] %>, <%= body["city"] %>, <%= body["stateProvinceCode"] %></h4>
              <p><%= raw CGI.unescapeHTML(body["locationDescription"]) %></p>
           <!--  <div class="col-md-4"><span>From: </span><span class="booking-item-price"><%= number_to_currency(body["lowRate"], :precision => 0) %></span><span>/night</span><br><br>
              <span class="btn btn-primary">Book</span>
              -->
            </div>
          </div>
          </a>
        </li>
      </ul>
<% end %>
<% end %>
  </div>
</div>
</div>
<%= render 'footer' %>
