<%= render './site/head' %>
<%= render './site/nav' %>

  <div class="container">
    <h1 class="page-title">Recommended Destinations</h1>
	</div>
  <!-- <div class="container">
      <div id="popup-gallery">
          <div class="row row-col-gap">
              <div class="col-md-4">
                  <a class="hover-img popup-gallery-image" href="destinations/1">
                      <img src="http://i.imgur.com/f94ztuG.jpg" alt="Sri Lanka Rice Paddies" title="Responsible Bike Tour Sri Lanka" /><i class="fa fa-heart round box-icon-small hover-icon i round"></i>
                  </a>
              </div>
          </div>
      </div>
  </div> -->
  <div>
    <% @destinations.each do |d|  %>
      <div>
        <%= d.name %><br>
        <%= form_for do |f| %>
          <div class="actions">
            <%= f.submit "Add to Bucket List" %>
          </div>
        <% end %>
        <%= d.certification %>
      </div>
    <% end %>
  </div>

  <div class="gap"></div>

<%= render './site/footer' %>
